/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
* {
  box-sizing: border-box;
}
#achv_description {
  white-space: pre-wrap;
}
#profile {
  white-space: pre-wrap;
}
.card.p-1 {
  width: auto;
}
.card.p-1 img {
  height: 466px;
  width: 366px;
}

/* body {
  position: relative;
} */
.back-to-form {
  position: fixed;
  top: 10px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.template.container-fluid {
  position: absolute;
  top: 0;
}

/**********        Form CSS Starts from Here      ********* */

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 150px;
  border: 2px solid #dddddd;
  cursor: pointer;
}
#previewText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#innerSpan {
  text-align: center;
  font-size: 14px;
}
#previewText:hover {
  background-color: #dddddd66;
}
#image {
  display: none;
  width: 120px;
  height: 150px;
}
#inpImg {
  display: none;
}

/* image end */

#b1 {
  border: 0px solid #a1a1a1;
  background-color: #205bff00;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 100px;
}
#b1:hover {
  /* background: #03c4ff; */
  box-shadow: 1px 1px 5px rgb(206, 206, 206);
}

#nav-list li:hover {
  font-size: 1rem;
  font-weight: 500;
}

#nav {
  /* margin-top: 50px; */
  /* background-color: #32e479; */
  background-color: #c7c7c7;

  /* top: -5%; */
  /* left: -5%; */
  /* transform: rotate(2deg); */
}

#nav-links {
  color: #000000;
}

body {
  padding-top: 5rem;
}
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#c1 {
  height: 500px;
  background-color: #3be67f;
  /* border-radius: 20px; */
}

#cvButton {
  background-color: #626ccc;
  color: #ffffff;
  /* border-radius: 15px; */
  height: 50px;
  width: 200px;
}

.date {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dadee3;
}

#card {
  /* border-radius: 12px ; */
  border-radius: 15px;
  border: 1px solid #dadee300;
  /* box-shadow: 3px 3px 3px rgb(206, 206, 206); */
}

/* ------------------------------- */
/* Steps */
.step {
  display: none;
}
.step.active {
  display: block;
}

/* ------------------------------- */

.next_btn,
.prev_btn,
.generateCv_btn {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
  color: white;
  background-color: #626ccc;
  padding: 10px;
  margin: 20px;
  width: 180px;
  height: 50px;
  margin-bottom: 50px;
}
.generateCv_btn {
  background-color: #43c5a4;
}

div[class*="panel"] {
  display: none;
}

.flip-card {
  /* border: 1px solid rgb(189, 189, 189); */
  box-shadow: 0px 0px 3px rgb(204, 204, 204);
}

.accordion-header {
  position: relative;
  display: none;
}

.delete-item {
  z-index: 10;
  position: absolute;
  top: 0.75em;
  right: 2.5em;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.delete-item:hover {
  color: red;
}

/* Templates card css */
#form3 .card {
  transition: 0.5s;
}

#form3 .card:hover {
  background-color: #80808088;
}

.back-to-form{
  background-color: #80808091;
  border-radius: 25px;
}
.back-to-form:hover{
  background-color: #80808080;
}

/* Scroll Bar  */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 254, 254);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}
