/* body {
} */

#b1 {
  border: 0px solid #a1a1a1;
  background-color: #205bff00;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 100px;
}
#b1:hover {
  /* background: #03c4ff; */
  box-shadow: 3px 3px 3px rgb(206, 206, 206);
}

#nav-list li:hover {
  font-size: 1rem;
  font-weight: 500;
}

#nav {
  /* margin-top: 50px; */
  background-color: rgb(200,200,200);
  /* top: -5%; */
  /* left: -5%; */
  /* transform: rotate(2deg); */
}

#nav-links {
  color: #000000;
}

body {
  padding-top: 5rem;
}
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#c1 {
  height: 500px;
  background-color: #3be67f;
  /* border-radius: 20px; */
}

#cvButton {
  background-color: #626ccc;
  color: #ffffff;
  /* border-radius: 15px; */
  height: 50px;
  width: 200px;
}

.date {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dadee3;
}

#card {
  /* border-radius: 12px ; */
  border-radius: 15px;
  border: 1px solid #dadee300;
  /* box-shadow: 3px 3px 3px rgb(206, 206, 206); */
}

#nstp {
  border: 1px solid #4294ff;
  border-radius: 6px;
  color: white;
  background-color: #5691ff;
  padding: 10px;
  width: 200px;
  height: 50px;
  margin-bottom: 50px;
}

div[class*="panel"] {
  display: none;
}

.flip-card {
  /* border: 1px solid rgb(189, 189, 189); */
  box-shadow: 0px 0px 5px rgb(204, 204, 204);
}

/* Scroll Bar  */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 254, 254);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7ba9ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5779b8;
}
