<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New_Template</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <link rel="stylesheet" href="template3.css">
</head>

<body>
    <div class="t3">
    <div class="main">
        <div class="top-section">
            <img src="../images/person.jfif" class="profilepic">
            <p class="fname">Devansh <span>Shah</span></p>
            <p class="position">Web Devloper</p>
        </div>

        <div class="clearfix"></div>
        <div class="col-div-4">
            <div class="content-box" style="padding-left: 40px;">
                <p class="head">Contact</p>
                <p class="p3"><i class="fa fa-phone"></i>&nbsp;&nbsp;0123456789</p>
                <p class="p3"><i class="fa fa-envelope"></i>&nbsp;&nbsp;xyz@gmail.com</p>
                <p class="p3"><i
                        class="fa fa-home"></i>&nbsp;&nbsp;<span>City,</span><span>State,</span><span>Country</span></p>
                <br />

                <p class="head">My Skills</p>
                <ul class="skills">
                    <li><span>Web Devloper</span></li>
                    <li><span>Graphic Designer</span></li>
                    <li><span>Adobe Photoshop</span></li>
                    <li><span>Adobe Illustrator</span></li>
                    <li><span>Problem Solving</span></li>
                </ul>
                <br />

                <p class="head">Languages</p>
                <p class="p3">Hindi</p>
                <p class="p3">English</p>
                <p class="p3">Gujarati</p>
                <p class="p3">German</p>
                <br />


                <p class="head">Interest</p>
                <ul class="interest">
                    <li><span>A</span></li>
                    <li><span>B</span></li>
                    <li><span>C</span></li>
                    <li><span>D</span></li>
                    <li><span>E</span></li>
                </ul>

            </div>
        </div>
        <div class="line"></div>

        <div class="div col-div-8">
            <div class="content-box">
                <p class="head">Objective</p>
                <p class="p3" id="objective" style="font-size: 14px; color:#525252;">Lorem Ipsum is simply dummy text of
                    the printing
                    and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries.</p>
                <br />

                <p class="head">Experience</p>
                <div class="experience">
                    <p class="job-title">Web Devloper (2018-NOW)</p>
                    <p class="par-4">
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries.
                    </p>

                    <p class="job-title">Sotware Devloper (2012-2018)</p>
                    <p class="par-4">
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries.
                    </p>

                    <p class="job-title">Graphic Designer (2010-2012)</p>
                    <p class="par-4">
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries.
                    </p>
                </div>
                <br />

                <p class="head">Eduction</p>
                <div class="education">
                    <p class="degree">High School (2009-2010)</p>
                    <p class="par-4">
                        School Name
                    </p>

                    <p class="degree">B.TECH (2013-2015)</p>
                    <p class="par-4">
                        College Name
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>