<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template2</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="template2.css">
    <script src="template2.js"></script>
</head>
<body>
    <div class="t2 template" style="background-color: aliceblue;" id="Template_2">
        <div class="palette">
            <span class="pelement one"></span>
            <span class="pelement two"></span>
            <span class="pelement three"></span>
            <span class="pelement four"></span>
            <span class="pelement five"></span>
        </div>
        <div class="containerr" id="target">
            <div class="upper">
                Curriculum Vitae
            </div>
            <div class="lower">
                <div class="lower_left">
                    <img src="mdp.png" class="profilepic" alt="Max">
                    <div class="header personal">
                        <div class="title">Personal</div>
                        <div class="content">
                            <div class="con">
                                <div class="heading">Name</div>
                                <div class="value" id="t_name">Venkat Rastogi</div>
                            </div>
                            <div class="con">
                                <div class="heading">Gender</div>
                                <div class="value" id="t_gender">Male</div>
                            </div>
                            <div class="con">
                                <div class="heading">DOB</div>
                                <div class="value" id="t_dob">01/03/2009</div>
                            </div>
                            <div class="con">
                                <div class="heading">Address</div>
                                <div class="value" id="t_address">Chennai, Tamil Nadu, India</div>
                            </div>
                            <div class="con">
                                <div class="heading">Phone number</div>
                                <div class="value" id="t_number">+919947382613</div>
                            </div>
                            <div class="con">
                                <div class="heading">Email</div>
                                <div class="value" id="t_email">venkat_ras@email.com</div>
                            </div>
                            <div class="con">
                                <div class="heading">Linked in</div>
                                <div class="value" id="t_linkedIn">linkedin.com/me</div>
                            </div>
                            <div class="con">
                                <div class="heading">Website</div>
                                <div class="value" id="t_website">www.mywebsite.com</div>
                            </div>
                        </div>
                    </div>

                    <div class="header skills">
                        <div class="title">Skills</div>
                        <div class="content">
                            <div class="skill">HTML</div>
                            <div class="skill">CSS</div>
                            <div class="skill">JavaScript</div>
                            <div class="skill">Photoshop</div>
                            <div class="skill">Illustrator</div>
                            <div class="skill">Lightroom</div>
                        </div>
                    </div>

                    <div class="header interests">
                        <div class="title">Interests</div>
                        <div class="content">
                            <div class="con">Gaming</div>
                            <div class="con">Singing</div>
                            <div class="con">Reading</div>
                            <div class="con">Cooking</div>
                            <div class="con">Exercising</div>
                            <div class="con">Swimming</div>
                        </div>
                    </div>

                    <div class="header languages">
                        <div class="title">Languages</div>
                        <div class="content">
                            <div class="con">
                                <div class="lang">English</div>
                                <div class="lang">Hindi</div>
                                <div class="lang">Gujarati</div>
                                <div class="lang">French</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lower_right">
                    <div class="header profile">
                        <div class="hr title">Profile</div>
                        <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ea numquam itaque deserunt,
                            quidem quaerat unde soluta pariatur similique exercitationem molestias nesciunt aut velit,
                            ratione mollitia, quod enim voluptatibus placeat delectus. Eaque assumenda, officia ut
                            obcaecati, voluptates voluptas a laborum minus molestias magnam deserunt impedit sequi
                            dicta? Similique, possimus fuga.
                        </div>
                    </div>
                    <div class="education header vrr">
                        <div class="hr title">Educational Qualifications</div>
                        <div class="content">
                            <div class="con">
                                <h4 class="time">2010-2013</h4>
                                <h4 class="degree">Master's degree in Computer Science</h4>
                                <h4 class="uni">University Name</h4>
                            </div>
                            <div class="con">
                                <h4 class="time">2006-2010</h4>
                                <h4 class="degree">Bachelor's degree in Computer Science</h4>
                                <h4 class="uni">University Name</h4>
                            </div>
                            <div class="con">
                                <h4 class="time">1997-2007</h4>
                                <h4 class="degree">Matriculation</h4>
                                <h4 class="uni">University Name</h4>
                            </div>
                        </div>
                    </div>
                    <div class="experience header vrr">
                        <div class="hr title">Experience</div>
                        <div class="content">
                            <div class="con">
                                <div class="time"><h4>2019-present</h4><h4>Company Name</h4></div>
                                <div class="box"><div class="text">Senior Developer</div><div class="exp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas est dolorem, eveniet velit exercitationem repudiandae iste suscipit nihil, eligendi sed nam molestiae ducimus labore officia expedita. Ullam voluptates officiis debitis consectetur soluta minus quidem quisquam reprehenderit odio, facilis doloribus excepturi cum voluptatem explicabo sint incidunt commodi! Beatae nostrum debitis labore.</div></div>
                            </div>
                            <div class="con">
                                <div class="time"><h4>2015-2019</h4><h4>Company Name</h4></div>
                                <div class="box"><div class="text">Junior Developer</div><div class="exp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem necessitatibus odit eius nam nisi beatae aut esse omnis nostrum ratione consequuntur, cumque dignissimos assumenda culpa et illum? Sunt consequuntur, autem doloremque ducimus quo unde molestias cumque at quaerat maiores consequatur eum reiciendis ut rerum hic tempore debitis magnam dicta numquam!</div></div>
                            </div>
                            <div class="con">
                                <div class="time"><h4>2012-2015</h4><h4>Company Name</h4></div>
                                <div class="box"><div class="text">Intern</div><div class="exp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eaque aperiam voluptates non magni iusto expedita sapiente error qui, perferendis suscipit. Iste rerum cupiditate excepturi ea ipsam modi dolorum totam?</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="achievements header vrr">
                        <div class="hr title">Achievements</div>
                        <div class="content">
                            <div class="con">
                                <div class="val">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis tincidunt
                                    nibh sed dapibus. Cras vel arcu eu est maximus luctus sagittis in augue. Vestibulum
                                    molestie non est eu ultricies. Nunc convallis ut eros nec semper. Etiam ut auctor
                                    eros. Praesent lobortis vestibulum lorem at consectetur. Ut malesuada a magna nec
                                    sollicitudin. Nulla a luctus mi. Fusce iaculis hendrerit turpis, nec maximus eros
                                    ullamcorper nec. Quisque id nunc consectetur, facilisis erat non, viverra dolor.
                                    Aenean nisi turpis, dignissim et elit ut, facilisis pellentesque sem. Integer ac mi
                                    accumsan metus semper auctor id eget sapien.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</body>
</html>