<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template1</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="template1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="template1.js"></script>
</head>
<d>
    <div class="t1">
        <div class="palette">
            <span class="pelement one"></span>
            <span class="pelement two"></span>
            <span class="pelement three"></span>
            <span class="pelement four"></span>
            <span class="pelement five"></span>
        </div>
        <div class="container" id="target">
            <div class="left_side">
                <div class="profileText">
                    <div class="imgBx">
                        <img src="mdp.png" alt="Max">
                    </div>
                    <h2 id="t_fname">Venkat Rastogi <br> <span>Web Developer</span> </h2>
                </div>
                <div class="contactInfo">
                    <h3 class="title">Contact Info</h3>
                    <ul>
                        <li>
                            <span class="icon"><i class="fas fa-phone-alt" aria-hidden="true"></i></span>
                            <span class="text">+91 9429142949</span>
                        </li>
                        <li>
                            <span class="icon"><i class="far fa-envelope"></i></span>
                            <span class="text">venkat_ras@email.com</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fas fa-globe"></i></span>
                            <span class="text">www.mywebsite.com</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fab fa-linkedin"></i></span>
                            <span class="text">linkedin.com/me</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                            <span class="text">Chennai, Tamil Nadu, India</span>
                        </li>
                    </ul>
                </div>

                <div class="contactInfo education">
                    <h3 class="title">Education</h3>
                    <ul>
                        <li>
                            <h5>2010-2013</h5>
                            <h4>Master's Degree in Computer Science</h4>
                            <h4>University name</h4>
                        </li>
                        <li>
                            <h5>2007-2010</h5>
                            <h4>Bachelor's Degree in Computer Science</h4>
                            <h4>University name</h4>
                        </li>
                        <li>
                            <h5>1997-2007</h5>
                            <h4>Matriculation</h4>
                            <h4>University name</h4>
                        </li>
                    </ul>
                </div>

                <div class="contactInfo language">
                    <h3 class="title">Languages</h3>
                    <ul>
                        <li>
                            <span class="text">English</span>
                            <span class="percent">
                                <div style="width: 90%;"></div>
                            </span>
                        </li>
                        <li>
                            <span class="text">Hindi</span>
                            <span class="percent">
                                <div style="width: 80%;"></div>
                            </span>
                        </li>
                        <li>
                            <span class="text">Gujarati</span>
                            <span class="percent">
                                <div style="width: 60%;"></div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="right_side">
                <div class="about">
                    <h2 class="title2">Profile</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt atque hic incidunt id, minus
                        corporis. Aspernatur voluptas quidem dolore. Quam excepturi harum suscipit officia recusandae
                        aut consequuntur ipsa vitae. Cumque delectus nostrum, sed minus, consequatur officia autem
                        adipisci sint reiciendis nulla ut voluptatum illo? Neque sapiente sint quisquam dolorum officia?
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat deleniti aliquid fuga
                        distinctio modi ad, iure nobis deserunt, nisi pariatur dicta, cum quo a animi earum nihil quia
                        tempora.
                    </p>
                </div>
                <div class="about">
                    <h2 class="title2">Experience</h2>
                    <div class="box">
                        <div class="year_company">
                            <h5>2019-present</h5>
                            <h5>Company Name</h5>
                        </div>
                        <div class="text">
                            <h4>Senior UX Designer</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed veniam voluptate non
                                facere, eveniet beatae unde harum quos earum? Eveniet!</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="year_company">
                            <h5>2015-2019</h5>
                            <h5>Company Name</h5>
                        </div>
                        <div class="text">
                            <h4>UX/UI Designer</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed veniam voluptate non
                                facere, eveniet beatae unde harum quos earum? Eveniet!</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="year_company">
                            <h5>2012-2015</h5>
                            <h5>Company Name</h5>
                        </div>
                        <div class="text">
                            <h4>Junior UX Designer</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed veniam voluptate non
                                facere, eveniet beatae unde harum quos earum? Eveniet!</p>
                        </div>
                    </div>
                </div>

                <div class="about skills">
                    <h2 class="title2">Professional Skills</h2>
                    <div class="box">
                        <h4>Html</h4>
                        <div class="percent">
                            <div style="width:82%"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>CSS</h4>
                        <div class="percent">
                            <div style="width:76%"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>JavaScript</h4>
                        <div class="percent">
                            <div style="width:89%"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Photoshop</h4>
                        <div class="percent">
                            <div style="width:63%"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Illustrator</h4>
                        <div class="percent">
                            <div style="width:54%"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Lightroom</h4>
                        <div class="percent">
                            <div style="width:70%"></div>
                        </div>
                    </div>
                </div>

                <div class="about interest">
                    <h2 class="title2">Interest</h2>
                    <ul>
                        <li>Gaming</li>
                        <li>Singing</li>
                        <li>Reading</li>
                        <li>Cooking</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <button class="dwnld">Download as pdf</button>
        </div>
    </div>
    </body>

</html>