@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.palette{
    margin-top: 40px;
    margin-bottom: 0px;
}
.pelement{
    margin: 10px;
    padding: 0 12px;
    border-radius: 50%;
    cursor:pointer;
}
.one{
    background-color: #003147;
    border: 3px solid transparent;
}
.two{
    background-color: rgb(55, 177, 55);
    border: 3px solid transparent;
}
.three{
    background-color: #4b149b;
    border: 3px solid transparent;
}
.four{
    background-color: #B0292A;
    border: 3px solid transparent;
}
.five{
    background-color: #dbab19;
    border: 3px solid transparent;
}
.container{
    width: 100%;
    max-width: 840px;
    background-color: #ffffff;
    min-height: 1000px;
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.upper{
    background-color: rgb(55, 177, 55);
    width: 100%;
    height: 6rem;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-top: 0.2em;
    font-weight: 400;
}
.lower{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
.lower_left{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 40px;
}
.header{
    margin-top: 20px;
}
.lower_left img{
    position: absolute;
    top: -35px;
    border-radius: 50%;
    border: 3px solid white;
    height: 175px;
    width:175px;
}
.lower_left .personal{
    margin-top: 160px;
}
.title{
    text-transform: uppercase;
    font-weight: 650;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}
.lower_left .con{
    margin-bottom: 8px;
}
.lower_left .content{
    font-size: 14px;
}
.lower_left .content .heading{
    font-weight: 600;
}
.lower_left .content .value{
    font-weight: 400;
}
.lower_left .skills .content{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    margin-bottom: 10px;
}
.interests .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.languages{
    margin-bottom: 30px;
}
.languages .con{
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: 100px 1fr;
}
.lower_right{
    margin-right: 20px;
    color: gray;
}
.lower_right .content{
    font-size: 13px;
}
.hr{
    position:relative;
    overflow: hidden;
}
.hr:after{
    content:"";
    height: 1px;
    background: #9e9c9c;
    position:absolute;
    width: 100%;
    top: 50%;
    margin-left: 10px;
}
.vr{
    position: relative;
}
.vr::after{
    content: "";
    height: 90%;
    background-color: #616161;
    position: absolute;
    width: 1px;
    top: 30px;
    margin-left: 3px;
}
.lower_right .con{
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    position: relative;
}
.lower_right .con::before{
    content:"";
    width: 10px;
    background-color: #616161;
    position: absolute;
    top: 9px;
    left: -16px;
    height: 1px;
}
.education .time{
    font-weight: 600;
}
.education .uni{
    font-weight: 700;
}
.education .degree{
    font-weight: 500;
}

@media (max-width:840px){
    .lower{
        grid-template-columns: repeat(1,1fr);
    }
    .lower_right{
        margin: 40px;
    }
    .lower_left{
        justify-content: center;
    }
}